* {
  box-sizing: border-box;
}

.row {
  margin: 0;
}

.aside {
  background-color: #F5F5F5;
  height: 100vh;
}
.aside .logo {
  text-align: center;
}
.aside .logo img {
  width: 80%;
  margin-top: 10px;
}

.aside-list {
  margin-top: 20px;
}
.aside-list ul {
  list-style: none;
  margin: 0;
  padding: 0px 0px;
  margin-bottom: 10px;
}
.aside-list ul li {
  display: flex;
  margin-left: -25px;
}
.aside-list ul li:hover {
  background-color: #2D8BDE;
  color: #F5F5F5;
  border-radius: 0px 6px 6px 0px;
}
.aside-list ul li:hover button {
  color: #F5F5F5;
}
.aside-list ul li:hover .dropdownBtn {
  margin-left: -25px;
  opacity: 1;
  outline: none;
}
.aside-list ul li .listBtn {
  width: 90%;
  outline: none;
}
.aside-list ul li .dropdownBtn {
  width: 10%;
  opacity: 0;
}
.aside-list ul li button {
  margin-left: 10px;
  color: #28333B;
  background-color: transparent;
  border: none;
  text-align: left;
  padding: 5px 20px;
}

.aside-bar {
  height: 60vh;
  overflow-y: auto;
}

.footer-button {
  text-align: center;
}

.main {
  background-color: #FAFAFA;
}
.main #createTable h1 {
  text-align: end;
}

fieldset {
  border-top: solid 1px #333;
  padding: 10px;
}

legend {
  width: unset;
  padding: 0px 10px;
  font-size: large;
  font-style: italic;
}

.top-user-info h1 {
  text-align: right;
  margin: 0;
  font-style: italic;
}

.preset {
  display: flex;
  align-items: center;
}
.preset span {
  margin-right: 10px;
}
.preset select {
  display: inline-block;
  width: 25%;
  margin-right: 10px;
}

.preset-show table .thead td, .main-table table .thead td {
  padding: 10px;
}
.preset-show table .thead td:last-child, .main-table table .thead td:last-child {
  padding: 10px !important;
}
.preset-show table tr td, .main-table table tr td {
  padding: 0;
}
.preset-show table tr td:last-child, .main-table table tr td:last-child {
  padding: 6px;
}
.preset-show table td, .main-table table td {
  background-color: #eee;
  text-align: center;
  border: none;
}
.preset-show input, .preset-show select, .main-table input, .main-table select {
  padding: 4px;
  font-size: smaller;
}

.add-row {
  background-color: #eee;
  width: 100%;
}

#userImg {
  background: url(https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png) 100% no-repeat;
  background-size: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}
#userImg:hover span {
  background: #e4e6e7a1;
  transform: translate3d(0px, 160px, 0px);
  display: block;
  font-size: 28px;
  color: white;
  text-align: center;
}
#userImg input {
  transform: translate3d(40px, 195px, 0px);
  background: transparent;
  border: none;
  cursor: pointer;
  color: transparent;
}
#userImg span {
  transform: translate3d(0px, 199px, 0px);
  transition: 0.5s ease-out;
  cursor: pointer;
  color: white;
  text-shadow: 0px 0px 3px #aeb4b7;
}

#sign {
  height: 100%;
  background: url(../img/back.jpg);
  background-size: cover;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#form {
  background: white;
  width: 300px;
  border-radius: 5px;
  overflow: hidden;
  padding: 10px;
}

.sign-logo {
  position: absolute;
  top: 10px;
}

/*# sourceMappingURL=style.css.map */
