.row {
    margin: 0;
}
.aside {
    background-color: $whiteB;
    height: 100vh;
   
    
    .logo {
        text-align: center;
        
        img {
            width: 80%;
            margin-top: 10px;
            
        }
        
    }
}
.aside-list{
    margin-top: 20px;
    ul{
        list-style: none;
        margin: 0;
        padding: 0px 0px;
        margin-bottom: 10px;

        li{
            display: flex;
            &:hover{
                background-color: #2D8BDE;
                color: $whiteB;
                border-radius: 0px 6px 6px 0px;
                button {
                    color: $whiteB;
                }
                .dropdownBtn{
                    margin-left: -25px;
                    opacity: 1;
                    outline: none;
                }

            }
            .listBtn{
                width: 90%;
                outline: none;
            }
            .dropdownBtn{
                width: 10%;
                opacity: 0;
            }
            button{
                color: $textColor;
                background-color: transparent;
                border: none;
                text-align: left;
                padding: 5px 20px;

                
            }
        }
    }
}
