.main {
    background-color: $whiteA;
    #createTable h1 {
        text-align: end;
    }
    // margin-left: 300px;
}


fieldset {
    border-top: solid 1px #333;
    padding: 10px;
}

legend {
    width: unset;
    padding: 0px 10px;
    font-size: large;
    font-style: italic;
}

.top-user-info {

    h1 {
        text-align: right;
        margin: 0;
        font-style: italic;
    }
}

.preset {
    display: flex;
    align-items: center;

    span {
        margin-right: 10px;
    }

    select {
        display: inline-block;
        width: 25%;
        margin-right: 10px;

    }
}

.preset-show, .main-table {
    table {
        .thead{
            td{
                padding: 10px;
            }
            td:last-child{
                padding: 10px !important;
            }
        }
        tr{
            td {
                padding: 0;
            }

            td:last-child {
                padding: 6px;
            }
        }

        td {
            background-color: #eee;
            text-align: center;
            border: none;

        }
    }

    input,select {
        padding: 4px;
        font-size: smaller;
    }
    


}

.main-table{
    // // background-color: #444;
    // height: 70vh;
    // overflow-y: auto;
}
.add-row{
    background-color: #eee;
    width: 100%;
}