#userImg {
    background: url(https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png) 100% no-repeat;
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    &:hover span {
        background: #e4e6e7a1;
        transform: translate3d(0px, 160px, 0px);
        display: block;
        font-size: 28px;
        color: white;
        text-align: center;
    }
    input {
        transform: translate3d(40px, 195px, 0px);
        background: transparent;
        border: none;
        cursor: pointer;
        color: transparent;
    }
    span {
        transform: translate3d(0px, 199px, 0px);
        transition: 0.5s ease-out;
        cursor: pointer;
        color: white;
        text-shadow: 0px 0px 3px #aeb4b7;
    }
}