#sign {
    height: 100%;
    background: url(../img/back.jpg);
    background-size: cover;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}   
#form {
    background: white;
    width: 300px;
    border-radius: 5px;
    overflow: hidden;
    padding: 10px;
}
.sign-logo{
    position: absolute;
    top: 10px;
}